<div class="flex flex-col w-full h-screen">
  <app-header-component></app-header-component>
  <main
    class="flex flex-col gap-3 items-center justify-center w-full h-full bg-gray-200"
  >
    <form class="flex flex-col items-center justify-around w-full h-full">
      <section
        class="flex flex-col gap-8 items-center bg-white w-3/4 h-5/6 px-5 py-8 rounded-2xl mt-3 overflow-y-scroll scroll-hidden"
      >
        <div class="flex flex-col w-3/4">
          <h2 class="text-2xl font-medium">
            Titulo de la encuesta:
            <span class="font-normal">dadfdasdasdas</span>
          </h2>
          <h3 class="text-2xl font-medium">
            Descripción de la encuesta:
            <span class="font-normal">dadfdasdasdas</span>
          </h3>
        </div>

        @for (pregunta of encuesta.preguntas; track $index){ @let qIndex =
        $index;

        <div class="flex flex-col w-3/4">
          <!--Para despues <ng-container *ngComponentOutlet=></ng-container>-->
          @let preguntaId = "preguntaId-"+$index; @switch(pregunta.tipoPregunta)
          { @case ("opciones_radio"){
          <div class="flex flex-col gap-3 w-full">
            <label class="font-medium text-2xl" for="{{ preguntaId }}">{{
              pregunta.pregunta
            }}</label>

            @for (opcion of pregunta.opciones; track $index){
            <div class="w-full flex flex-row items-center">
              <input
                class="text-sm sm:text-base ms-1"
                type="radio"
                id="opcion-{{ preguntaId }}-{{ $index }}"
                name="opcion-{{ preguntaId }}"
                value="{{ opcion }}"
                [(ngModel)]="respuesta.respuestas[qIndex].respuesta"
              />
              <label
                class="text-sm sm:text-base ms-2"
                for="opcion-{{ preguntaId }}-{{ $index }}"
                >{{ opcion }}</label
              >
            </div>
            }
          </div>

          } @case ("abierta"){

          <div class="flex flex-col gap-3 w-full">
            <label class="font-medium text-2xl" for="{{ preguntaId }}">{{
              pregunta.pregunta
            }}</label>
            <textarea
              class="border-gray-300 border rounded-2xl outline-gray-300 text-start w-full h-14 sm:h-32 sm:text-base px-3 py-2"
              id="{{ preguntaId }}"
              name="{{ preguntaId }}"
              type="text"
              [(ngModel)]="respuesta.respuestas[qIndex].respuesta"
            ></textarea>
          </div>

          } }
        </div>

        }@empty {
        <h3>Cargando...</h3>
        }
      </section>

      <button
        class="bg-purple-700 text-white hover:text-gray-200 font-bold px-6 py-3 rounded-2xl cursor-pointer text-xl"
        type="submit"
        (click)="enviarRespuesta()"
      >
        Enviar
      </button>
    </form>
  </main>
</div>
