<div class="flex flex-col w-full h-screen">
  <app-header-component></app-header-component>
  <main class="flex flex-col gap-3 items-center justify-center w-full h-full">
    <form class="flex flex-col items-center justify-evenly w-3/4 h-full">
      <section
        class="flex flex-col gap-8 items-center w-full md:w-3/4 h-[70%] mt-3 overflow-y-scroll scroll-hidden"
      >
        <div
          class="flex flex-col w-full md:w-3/4 gap-4 bg-white backdrop-blur-2xl rounded-4xl px-5 py-8 dark:bg-gray-100"
        >
          <h2
            class="text-center text-2xl md:text-4xl text-[#0B0430] font-medium"
          >
            {{ encuesta.titulo }}
          </h2>

          <h3 class="text-xl md:text-xl text-[#0B0430] font-medium">
            {{ encuesta.descripcion}}
          </h3>
        </div>

        @for (pregunta of encuesta.preguntas; track $index){ @let qIndex =
        $index;

        <div class="flex flex-col w-full md:w-3/4">
          <!--Para despues <ng-container *ngComponentOutlet=></ng-container>-->
          @let preguntaId = "preguntaId-"+$index; @switch(pregunta.tipoPregunta)
          { @case ("opciones_radio"){
          <div
            class="flex flex-col gap-3 w-full bg-white backdrop-blur-2xl rounded-4xl px-5 py-8 dark:bg-white/10"
          >
            <label
              class="font-bold text-xl dark:text-white"
              for="{{ preguntaId }}"
              >{{ pregunta.pregunta }}</label
            >

            @for (opcion of pregunta.opciones; track $index){
            <div class="w-full flex flex-row items-center dark:text-white">
              <input
                class="text-xm ms-1"
                type="radio"
                id="opcion-{{ preguntaId }}-{{ $index }}"
                name="opcion-{{ preguntaId }}"
                value="{{ opcion }}"
                [(ngModel)]="respuesta.respuestas[qIndex].respuesta"
              />
              <label
                class="text-xm ms-2"
                for="opcion-{{ preguntaId }}-{{ $index }}"
                >{{ opcion }}</label
              >
            </div>
            }
          </div>

          } @case ("abierta"){

          <div
            class="flex flex-col gap-3 w-full bg-white backdrop-blur-2xl rounded-4xl px-5 py-8 dark:bg-white/10 dark:text-white"
          >
            <label class="font-bold text-xl" for="{{ preguntaId }}">{{
              pregunta.pregunta
            }}</label>
            <textarea
              class="border-gray-300 bg-white dark:bg-transparent border rounded-2xl outline-gray-300 text-start w-full h-14 sm:h-32 text-xm px-3 py-2"
              id="{{ preguntaId }}"
              name="{{ preguntaId }}"
              type="text"
              [(ngModel)]="respuesta.respuestas[qIndex].respuesta"
            ></textarea>
          </div>

          } }
        </div>

        }@empty {
        <h3>{{ "loading" | transloco }}</h3>
        }
      </section>

      <button
        class="mt-6 justify-center items-center rounded-xl px-20 py-4 text-xl font-medium border transition bg-[#0B0430] hover:bg-[#2A1F5A] dark:bg-gray-200 dark:hover:bg-gray-100 text-white dark:text-[#0B0430]"
        type="submit"
        (click)="enviarRespuesta()"
      >
        {{ "send" | transloco }}
      </button>
    </form>
  </main>
  <app-footer-component></app-footer-component>
</div>
