/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Oculta el scrollbar pero mantiene el scroll funcional */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
